.header{
  border-bottom: 1px solid #ddd;
  .header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 15px;
    @include tablet{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      justify-content: center;
    }
  }
  .header__logo{
    margin-right: 296px;
    @include mid-desktop{
      margin-right: 96px;
    }
    @include tablet{
      grid-column: 3 span;
      grid-row: 1;
      justify-self: center;
    }
  }
  .header__icons{
    display: flex;
    align-items: center;
    gap: 30px;
    @include tablet{
      grid-column: 3 span;
      grid-row: 1;
      justify-self: center;
    }
  }
}
