.hero{
  padding-top: 60px;
  @include mid-desktop{
    padding-top: 30px;
  }
  @include small-tablet{
    padding-top: 10px;
  }
  @include small-small-tablet{
    padding: 49px 0;
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    @include small-small-tablet{
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__left{
    padding-top: 70px;
    grid-column: 6 span;
    max-width: 450px;
    @include mid-desktop{
      padding-top: 40px;
    }
    @include small-small-tablet{
      padding-top: 0;
      grid-column: 6 span;
    }
  }
  &__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: var(--marengo);
    @include small-tablet{
      font-size: 38px;
    }
  }
  &__descr{
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--marengo);
    @include small-tablet{
      font-size: 16px;
    }
  }
  &__btn{

  }
  &__right{
    grid-column: 7/6 span;
    font-size: 0;
    @include small-small-tablet{
      display: none;
    }
  }
}
