.hero{

  &__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 60px;
  }
  &__left{
    padding-top: 70px;
    grid-column: 6 span;
    max-width: 450px;
  }
  &__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: var(--marengo);
  }
  &__descr{
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--marengo);
  }
  &__btn{

  }
  &__right{
    grid-column: 6 span;
    font-size: 0;
  }
}
