.sketchbook{
padding-top: 90px;
  @include tablet{
    padding-top: 60px;
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 15px;
    @include tablet{
      padding-right: 0;
    }
  }
  &__left{
    margin-top: 24px;
    grid-column: 4 span;
    @include tablet{
      margin-top: 0;
      grid-column: 6 span;
    }
  }
  &__title{
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #666;
  }
  &__descr{
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
  }

  &__right{
    grid-column: 7 span;
    font-size: 0;
    @include tablet{

      grid-column: 8/6 span;
    }
  }
}
