<section class="description">
  <div class="container description__container">
    <div class="description__top">
      <div class="description__column">
        <picture>
          <source srcset="../img/descr1.webp" type="image/webp">
          <img loading="lazy" src="../img/descr1.png" class="description__image" width="160" height="118" alt="">
        </picture>
        <div class="description__column-content">
          <h2 class="description__column-title">
            V.1
          </h2>
          <p class="description__column-descr">
            Результат вашего обучения
          </p>
        </div>
      </div>
      <div class="description__column">
        <picture>
          <source srcset="../img/descr2.webp" type="image/webp">
          <img loading="lazy" src="../img/descr2.png" class="description__image" width="160" height="118" alt="">
        </picture>
        <div class="description__column-content">
          <h2 class="description__column-title">
            V.2
          </h2>
          <p class="description__column-descr">
            Результат вашего обучения
          </p>
        </div>
      </div>
      <div class="description__column">
        <picture>
          <source srcset="../img/descr3.webp" type="image/webp">
          <img loading="lazy" src="../img/descr3.png" class="description__image" width="160" height="118" alt="">
        </picture>
        <div class="description__column-content">
          <h2 class="description__column-title">
            V.3
          </h2>
          <p class="description__column-descr">
            Результат вашего обучения
          </p>
        </div>
      </div>
    </div>
    <div class="description__bottom">
      <div class="description__bottom-left">
        <picture>
          <source srcset="../img/descr4.webp" type="image/webp">
          <img loading="lazy" src="../img/descr4.png" class="description__image" width="730" height="564" alt="">
        </picture>
      </div>
      <div class="description__bottom-right">
        <h1 class="bottom-right__title">
          Максимальная белизна
        </h1>
        <p class="bottom-right__descr">
          Для повышения белизны, гладкости и мягкости в состав бумажной массы вводят белые минеральные вещества: мел,
          тальк, каолин и др. Эта операция называется наполнением.
        </p>
        <p class="bottom-right__descr">
          Отлив бумажного листа осуществляют на бумагоделательной машине, важнейшей частью которой является непрерывно
          движущаяся (как транспортер) металлическая или капроновая сетка.
        </p>
      </div>
    </div>
  </div>
</section>