<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h1 class="hero__title">
        Простые вещи. Из бумаги
      </h1>
      <p class="hero__descr">
        Бума́га (предположительно от итал. bombagia, первоисточником же считается иранский) — волокнистый материал с
        минеральными добавками.
      </p>
      <button class="btn-reset btn hero__btn">
        Каталог
      </button>
    </div>
    <div class="hero__right">
      <picture>
        <source srcset="../img/hero-small_tablet.png" media="(max-width: 576px)">
        <source srcset="../img/hero-tablet.png" media="(max-width: 1000px)">
        <source srcset="../img/hero.webp" type="image/webp">
        <img loading="lazy" src="../img/hero.png" class="image" width="540" height="" alt="">
      </picture>
    </div>
  </div>
</section>