<section class="sketchbook">
  <div class="container sketchbook__container">
    <div class="sketchbook__left">
      <h1 class="sketchbook__title">
        Simple скетчбук
      </h1>
      <p class="sketchbook__descr">
        80 листов, твердая обложка, бумага Fabriano 200 г/м2. Подойдет и для графики и для акварели. Для самых смелых
        творческих замыслов!
      </p>
      <button class="btn-reset btn sketchbook__btn">Купить</button>
    </div>
    <div class="sketchbook__right">
      <picture>
        <source srcset="../img/sketchbook-tablet.png" media="(max-width: 992px)" width="369" height="334">
        <source srcset="../img/sketchbook.webp" type="image/webp">
        <img loading="lazy" src="../img/sketchbook.png" class="image" width="730" height="" alt="">
      </picture>
    </div>
  </div>
</section>
