// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --second-family: "Ubuntu", sans-serif;
  --content-width: 1140px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --marengo: #4c5866;
  --blue: #7875fe;
  --grey: #ebebeb;
}
